@media screen and (max-width: 480px) {
	#sales_rentals {padding-bottom: 0; margin-bottom: 0;}
	#search_listings_new #filters {padding-bottom: 3%; margin-bottom: 3%;}
	#search_popup {height: 90%; padding-top: 15%;}
	#search_popup #search_container #search_close {top: -30px;}

	#home_banner_message {top: 5%;}
	
	/* Header */
	#header_wrapper #social {margin-bottom: 20px}
	#header_top_form {float: none; padding: 10px 10px 0 0; position: absolute; top: 0; left: 10px;}
	#header_top_text {float: left; margin-right: 5px; padding: 5px 0 0 5px;}
	#header_menu {padding: 5px 5px 0 0; display: block; float: right;}
	#header_menu a {background: #000; display: block; padding: 2px 20px; border: 1px solid #000; text-transform: uppercase; font-size: 10px; color: #fff; float: left;}
	#home_banner li.slide div h2 {font-size: 10px;}

	/* Navigation */
	#navigation {position: relative; bottom: auto; right: auto; float: none; display: none; width: 100%; z-index: 999;}
	#navigation.visible {display: block;}
	#navigation ul {list-style: none;}
	#navigation ul li {display: block; float: none;}
	#navigation ul li:hover {background: none;}
	#navigation ul li a {display: block; background: #000; border-bottom: 1px solid #424242; float: none; text-align: center; font-size: 13px; color: #ebebeb; text-transform: uppercase; padding: 10px 20px;}
	#navigation ul li a:hover {background: #424242;}
	#navigation ul li a.on {background: #424242 !important;}
	#navigation ul li a.active {background: #000;}
	#navigation ul li:hover ul {display: none}
	#navigation ul li ul.on {display: inline-block !important;position: static;width: 100%}
	#navigation ul li ul.active {display: block; position: relative; top: auto; left: auto !important;}
	#navigation ul li ul li {display: block; float: none;}
	#navigation ul li ul li a {display: block; background: none; border-bottom: 1px solid #000; float: none; text-align: center; font-size: 13px; color: #ebebeb; text-transform: uppercase; padding: 10px 20px;}
	#navigation ul li ul li a:hover {background: #4b4b4b;}
	
	/* Full content */

	#full_content h1{margin: 0 0 20px !important;}

	/* Featured Properties */
	#featured_properties_image {width: 100%; height: auto; float: none; margin-bottom: 5px;}
	#featured_properties_image img {width: 100%; height: auto;}
	#featured_properties_agent { height: auto; float: none; clear: both; width: 100%; padding: 0; margin-right: 4%;}
	#featured_properties_agent_image {width: 100%;  float: left; margin: 0; padding: 0; height: auto;max-height: 200px}
	#featured_properties_agent_image img {}	
	#featured_properties_agent_info {width: 94%; float: right; padding: 3%;}
	#featured_properties_agent_info h3 {font-size: 1em; margin-bottom: 0;}
	#featured_properties_agent_info p{margin-bottom:5px;}
	#featured_properties_details {width: 96%; float: none; padding: 2%; height: auto;}
	#featured_properties_details h3 {font-size: 1em; margin-bottom: 0;}

	#listings.detail #property_bar #property_price,
	#listings.detail #property_bar .property_bar_box.sm,
	#listings.detail #property_bar .property_bar_box.sm2 {width: 50%;float: left;}

	#listings.detail #property_agent .property_agent_thumb{width: 100%;height: auto;max-height: 240px;margin-bottom: 10px;}
	#listings.detail #property_agent .property_agent_thumb img{width: 100%;height: auto;}
	#listings.detail #property_agent .property_agent_details{width: 100%;text-align: center;}
	#listings.detail #property_agent .property_agent_details table{margin: 20px auto;}

	#listings.detail #property_bar .property_bar_box.icn {display: table;width: 100% !important;border-bottom: 0;}

	/* Search Featured Listings */
	#search_featured_listings {float: none; background: #373737; padding: 2% 4%; margin-bottom: 20px; width: 92%;}
	#search_featured_listings .search_select_type {margin-bottom: 10px;}
	#search_featured_listings .search_price_low {font-size: 11px; clear: both; margin-bottom: 10px; padding-top: 6px; width: 60px; float: left; margin-right: 0;}
	#search_featured_listings .search_price_slider {width: 200px; clear: both; float: left; padding-top: 3px; margin-bottom: 20px;}
	#search_featured_listings .search_price_high {font-size: 11px; clear: both; margin-bottom: 10px; padding-top: 6px; width: 60px; float: left; margin-left: 0;}
	#search_featured_listings .search_button {margin-bottom: 10px;}
	
	/* New Listings Search */
	#search_listings_new {float: none; width: 100%;}
	#search_listings_new .search_select_type {margin-bottom: 10px;}
	#search_listings_new .search_price_low {font-size: 11px; clear: both; margin-bottom: 10px; padding-top: 6px; width: 60px; float: left; margin-right: 0;}
	#search_listings_new .search_price_slider {width: 200px; clear: both; float: left; padding-top: 3px; margin-bottom: 20px;}
	#search_listings_new .search_price_high {font-size: 11px; clear: both; margin-bottom: 10px; padding-top: 6px; width: 60px; float: left; margin-left: 0;}
	#search_listings_new .search_button {margin-bottom: 10px;}

	#search_listings_new .controls li {width: auto;}

	#search_listings_new #filters-top #filter_bedrooms,
	#search_listings_new #filters-top #filter_baths{width: 100%; padding: 0}
	#search_listings_new #filters-top #listing-type-amenities{width: 100%}
	#search_listings_new #filters-top #listing-type-amenities #amenities-table{margin-top: 10px;}
	#search_listings_new #filters-top #listing-type-amenities #amenities-table .features-table {width: 45%;padding-right: 2.5%;float: left;clear: none;}
	#search_listings_new #filters-top #listing-type-amenities{min-height: auto;}
	
	/* Secondary Content */
	#secondary_content {width: 100%; float: none; margin-bottom: 0;}
	#sc_nav {margin-bottom: 20px; float: none; width: 100%; margin-right: 0;}
	#sc_archive {display: none;}
	#sc_info {margin-bottom: 20px; float: none; width: 100%; margin-right: 0;}
	#sc_tags {display: none;}
	
	
	/* Agents */
	#agents .agent {width: 100%; height: 100%;}
	#agents .agent_title {bottom: 0; padding: 3%;}

	.agent {display: block; width: 100%; height: 200px; overflow: hidden; position: relative; float: none; margin-right: 0;}
	
	/* Agent Detail */
	#agent_banner_message h1 {font-weight: 400; font-size: 14px; line-height: 18px; text-transform: none; margin-bottom: 0;}	
	#agent_details {width: 100%; margin-right: 0; border-top: 1px solid #706f6f; float: none; margin-top: 20px; padding-top: 5px; margin-bottom: 0;}
	#agent_details p {margin-bottom: 10px;}
	#agent_details_left {width: 50%; float: left; margin-right: 10%;}
	#agent_details_right {width: 40%; float: right;}
	#agent_details_right a {display: block; background: rgb(0,0,0); color: #fff; padding: 2px 10px;}
	#agent_details table td {color: #000; padding: 2px;}	
	#agent_bio {width: 96%; padding: 1% 2%; float: none; background: transparent; margin-right: 0;}
	#agent_bio p {color: #000;}	
	
	/* Properties */
	#full_content .property {display: block; width: 100% !important; height: 320px; margin-bottom: 20px; overflow: hidden; position: relative; float: none;}
	#full_content .property img {height: 100%; width: auto; position: absolute; top: 0; left: 0;}

	#property_listings .property_border, #agent_featured_listings .property_border, .agent_featured_listings .property_border, #trump_featured .property_border {width: 95% !important; height: auto; margin-bottom: 20px; overflow: hidden; position: relative; float: none;margin-right: auto !important; margin-left: auto;display: block;}
	#property_listings .property, #agent_featured_listings .property, .agent_featured_listings .property, #trump_featured .property {width: 100% !important; display: block !important; overflow: hidden !important; position: relative !important; margin-bottom: 0 !important;}
	#full_content .property img {height: auto; width: 100%; position: static; top: 0; left: 0;}
	
	#property_gallery .gallery_border.last,
	#property_gallery .gallery_border{width: 65%; margin-right: auto; margin-left:auto; float:none;}
	
	/* Property Detail */
	#property_details_table {width: 100%; float: none; margin-right: 0; margin-bottom: 20px;}
	#property_description {width: 100%; float: none;}
	#property_bar div {float: none; border-left: none; border-bottom: 1px solid #646363; height: 40px; padding: 10px 30px 5px; text-align: center;}
	#property_bar div:last-child {border-bottom: none;}
	#property_agent_thumb {width: 100%; float: none; margin-right: 0;}
	#property_agent_details {width: 100%; float: none;}
	
	/* Locations */
	#locations .location_border .location {width: 100%; height: 100%;}
	#locations .location_border .location .location_title {padding: 10px; bottom: 0; background: #F8F7F7; opacity: .98;}
	#locations .location img {height: 100%;width: auto;}

	.location {display: block; width: 100%; height: 150px; overflow: hidden; position: relative; float: none; margin-right: 0;}
	.location img {width: 100%; position: absolute; top: 0; left: 0; height: auto;}
	
	/* Location */
	.location_agent {display: block; width: 100%; height: 190px; margin-bottom: 20px; overflow: hidden; position: relative; float: none; margin-right: 0;}
	.location_agent img {height: auto; position: absolute; top: 0; left: 0; width: 100%;}
	.location_office {width: 100%;}
	.location_office_image {width: 30%; margin-right: 3%;}
	.location_office_text {width: 67%;}

	/* Media */
	.media_list {width: 98%; margin-bottom: 20px; position: relative; padding: 2%;}
	
	/* Search Results */
	.result {width: 98%; padding: 2%; margin-bottom: 20px; background: #3a3a3a;}
	.result_thumb {width: 100%; float: none; margin-right: 0; margin-bottom: 10px;}
	.result_thumb img {max-width: 100%;}
	.result_text {width: 100%; float: none;}
	
	/* Trump Buildings
	#property_gallery .gallery_border {display: block; width: 48%; height: 180px; margin-bottom: 20px; overflow: hidden; position: relative; float: left; margin-right: 2%;}
	#property_gallery .gallery_border .trump {width: 100%;}
	.trump {display: block; width: 48%; height: 180px; margin-bottom: 20px; overflow: hidden; position: relative; float: left; margin-right: 2%;}
	.trump img {width: 100%; height: auto; position: absolute; top: 0; left: 0;}
	.trump_title p {text-transform: uppercase; font-size: 9px; letter-spacing: 1px;}
	.trump_title h3 {font-size: 9px; letter-spacing: 0em;} */

	/* Trump Building */
	#trump_banner_message {display: none;}
	#trump_info {width: 100%; margin-right: 0; float: none; margin-bottom: 0;}
	#trump_details {width: 100%; float: none; margin-right: 0;}
	#trump_amenities {float: none; width: 100%;}
	#trump_description {width: 100%; padding: 0; float: none; background: transparent; margin-right: 0;}
	#trump_description p {color: #000;}
	#trump_gallery a.trump_gallery {width: 46%; height: auto; overflow: hidden; float: left; display: block; margin-right: 4%; margin-bottom: 4%;}
	
	/* NYC Buttons */
	#search_nyc_home {position: relative; top: auto; left: auto;}
	#search_nyc_internal {position: relative; top: auto; left: auto;}

	/* Footer */
	#footer_love_wrapper {display: none;}
	#footer_love {display: none;}
	#footer_wrapper {height: auto; margin-top: 60px; position: relative;}
	#footer {width: 100%; margin: 0; padding: 0 0 20px 0; height: auto; position: relative; font-size: 13px;}
	#footer_connect {position: relative; top: auto; left: auto; float: none; padding: 20px 20px 0;}	
	#footer_signup {position: relative; top: auto; left: auto; float: none; padding: 0 20px; margin-bottom: 20px;}
	#footer_buttons {position: relative; top: auto; left: auto; float: none;}
	#footer_contact {position: relative; top: auto; left: auto; float: none; width: 96%; padding: 2%;}
	#website_designer {position: relative; bottom: auto; left: auto; top: auto; font-size: 10px;}
	#website_designer a {color: #444444;}

	#home #callout {padding: 30px 15px;}
	#main_content iframe {width:100%;height:auto;min-height:240px;}
}

#search_listings_new #filters-top {margin-bottom: 20px;}
#sales_rentals input[type="radio"]:checked+label, #sales_rentals input[type="radio"]:checked+label {margin: 0px;}